.item {
  display: flex;
  align-items: flex-start;

  @include mobile {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 18px 16px;
  }

  &__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 30px;

    @include desktop {
      width: 137px;
      height: auto;
      margin-right: 8px;
    }
    @include tablet {
      width: 103px;
    }

    @include mobile {
      margin-right: 0;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    flex-basis: 353px;
    padding-top: 28px;
    margin-right: 25px;

    @include desktop {
      flex-basis: 320px;
      padding-top: 17px;
    }

    @include tablet {
      flex-basis: 160px;
      padding-top: 0;
      margin-right: 7px;
    }

    @include mobile {
      margin-right: 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: calc(27 / 22);
    min-height: 54px;
    margin-bottom: 14px;

    @include desktop {
      min-height: auto;
    }

    @include tablet {
      font-size: 16px;
      line-height: calc(20 / 16);
      margin-bottom: 12px;
    }
  }

  &__vendor-code {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);

    @include tablet {
      font-size: 12px;
      line-height: calc(15 / 12);
    }
  }

  &__control {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 10px;

    @include mobile {
      justify-content: flex-start;
      gap: 30px;
    }
  }

  &__count {
    max-width: 120px;
    margin-right: 10px;
    gap: 10px;
    //flex-shrink: 0;
  }

  &__price {
    font-weight: 500;
    font-size: 22px;
    line-height: calc(27 / 22);
    flex-shrink: 0;
    margin-right: 10px;
    white-space: nowrap;
  }

  &__remove {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    flex-shrink: 0;
    color: $color-grey-light;
    transition: color 0.23s;

    &:hover {
      color: $color-main;
    }

    &:active {
      color: $color-main-sub;
    }

    @include mobile {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 2px;
      right: 0;
    }
  }
}
